# CrewAI framework

<img src="images/crewai_main.png" width=600px />

**–ü–æ—á–µ–º—É CrewAI?**

ü§º‚Äç‚ôÄÔ∏è Role-Playing Agents: –ê–≥–µ–Ω—Ç—ã –º–æ–≥—É—Ç –ø—Ä–∏–Ω–∏–º–∞—Ç—å –Ω–∞ —Å–µ–±—è —Ä–∞–∑–ª–∏—á–Ω—ã–µ —Ä–æ–ª–∏ –∏ –æ–±—Ä–∞–∑—ã, —á—Ç–æ–±—ã –ª—É—á—à–µ –ø–æ–Ω—è—Ç—å –∏ –≤–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–æ–≤–∞—Ç—å —Å–æ —Å–ª–æ–∂–Ω—ã–º–∏ —Å–∏—Å—Ç–µ–º–∞–º–∏.

ü§ñ Autonomous Decision Making: –ê–≥–µ–Ω—Ç—ã –º–æ–≥—É—Ç –ø—Ä–∏–Ω–∏–º–∞—Ç—å —Ä–µ—à–µ–Ω–∏—è –∞–≤—Ç–æ–Ω–æ–º–Ω–æ –Ω–∞ –æ—Å–Ω–æ–≤–µ –∑–∞–¥–∞–Ω–Ω–æ–≥–æ –∫–æ–Ω—Ç–µ–∫—Å—Ç–∞ –∏ –¥–æ—Å—Ç—É–ø–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤.

ü§ù Seamless Collaboration: –ê–≥–µ–Ω—Ç—ã –º–æ–≥—É—Ç —Ä–∞–±–æ—Ç–∞—Ç—å –≤–º–µ—Å—Ç–µ –±–µ–∑ –∫–∞–∫–∏—Ö-–ª–∏–±–æ –∑–∞—Ç—Ä—É–¥–Ω–µ–Ω–∏–π, –æ–±–º–µ–Ω–∏–≤–∞—è—Å—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –∏ —Ä–µ—Å—É—Ä—Å–∞–º–∏ –¥–ª—è –¥–æ—Å—Ç–∏–∂–µ–Ω–∏—è –æ–±—â–∏—Ö —Ü–µ–ª–µ–π.

üß† Complex Task Tackling: CrewAI –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω –¥–ª—è —Ä–µ—à–µ–Ω–∏—è —Å–ª–æ–∂–Ω—ã—Ö –∑–∞–¥–∞—á, —Ç–∞–∫–∏—Ö –∫–∞–∫ –º–Ω–æ–≥–æ—Å—Ç—É–ø–µ–Ω—á–∞—Ç—ã–µ —Ä–∞–±–æ—á–∏–µ –ø—Ä–æ—Ü–µ—Å—Å—ã, –ø—Ä–∏–Ω—è—Ç–∏–µ —Ä–µ—à–µ–Ω–∏–π –∏ —Ä–∞–∑—Ä–µ—à–µ–Ω–∏–µ –ø—Ä–æ–±–ª–µ–º.

## 1. Agents, Tools, Tasks

In [ ]:
# !pip -qqq install 'crewai[tools]'==0.51.0
# !pip install pandas
# !pip install langchain-together==0.1.5

In [1]:
import json
import os
import sqlite3
from datetime import datetime, timezone
from pathlib import Path
from textwrap import dedent
from typing import Any, Dict, List, Tuple, Union
import dotenv

import pandas as pd
from crewai import Agent, Crew, Process, Task
from crewai_tools import tool

from langchain_community.tools.sql_database.tool import (
    InfoSQLDatabaseTool,
    ListSQLDatabaseTool,
    QuerySQLCheckerTool,
    QuerySQLDataBaseTool,
)

from langchain_community.utilities.sql_database import SQLDatabase
from langchain_core.callbacks.base import BaseCallbackHandler
from langchain_core.prompts import ChatPromptTemplate
from langchain_groq import ChatGroq
from langchain_openai import ChatOpenAI

from langchain_community.llms.yandex import YandexGPT
from langchain_together import ChatTogether, Together

dotenv.load_dotenv(override=True)

True

In [2]:
df = pd.read_csv("datasets/ds-salaries.csv")
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [ ]:
connection = sqlite3.connect("db/salaries.db")
df.to_sql(name="salaries", con=connection)

In [3]:
# llm = ChatTogether(
#     temperature=0,
#     model='meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo',
#     max_tokens=1024,
#     verbose=True
# )

# llm = ChatGroq(
#     temperature=0.2,
#     model="llama3-groq-8b-8192-tool-use-preview",
#     max_tokens=4096)

llm = ChatOpenAI(
    temperature=0.2,
    model="gpt-4o-mini",
    max_tokens=4096)


# groq_llm = LLM(
#     model="groq/llama3-8b-8192",
#     temperature=0.3,
#     max_tokens=4096,
#     api_key="gsk_",
#     base_url="https://api.groq.com/"
# )

In [4]:
LANGCHAIN_TRACING_V2 = True
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="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"
LANGCHAIN_PROJECT="pr-rundown-experiment-5"

llm.invoke('–ö—Ç–æ —Ç–µ–±—è —Å–æ–∑–¥–∞–ª? –û—Ç–≤–µ—Ç—å –∫–æ—Ä–æ—Ç–∫–æ.')

AIMessage(content='–ú–µ–Ω—è —Å–æ–∑–¥–∞–ª–∞ –∫–æ–º–ø–∞–Ω–∏—è OpenAI.', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 8, 'prompt_tokens': 18, 'total_tokens': 26, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-mini-2024-07-18', 'system_fingerprint': 'fp_0705bf87c0', 'finish_reason': 'stop', 'logprobs': None}, id='run-9f62efad-a1ab-420e-9660-7a6d4c9d4bf7-0', usage_metadata={'input_tokens': 18, 'output_tokens': 8, 'total_tokens': 26})

In [5]:
human = "{text}. Answer in russian."
prompt = ChatPromptTemplate.from_messages([("human", human)])

chain = prompt | llm
response = chain.invoke(
    {
        "text": "–£ –∫–æ–≥–æ —Å–µ–π—á–∞—Å —Å–∞–º–∞—è –ª—É—á—à–∞—è LLM? –û—Ç–≤–µ—Ç—å —Ç–æ–ª—å–∫–æ –Ω–∞–∑–≤–∞–Ω–∏–µ–º –∫–æ–º–ø–∞–Ω–∏–∏. –û–±—ä—è—Å–Ω–∏ –ø–æ—á–µ–º—É."
    }
)

print(response.content)

–ù–∞ –¥–∞–Ω–Ω—ã–π –º–æ–º–µ–Ω—Ç —Å–∞–º–æ–π –ª—É—á—à–µ–π LLM —Å—á–∏—Ç–∞–µ—Ç—Å—è OpenAI.

–ü—Ä–∏—á–∏–Ω—ã: OpenAI –∞–∫—Ç–∏–≤–Ω–æ —Ä–∞–∑–≤–∏–≤–∞–µ—Ç —Å–≤–æ–∏ –º–æ–¥–µ–ª–∏, —Ç–∞–∫–∏–µ –∫–∞–∫ GPT-4, –∫–æ—Ç–æ—Ä—ã–µ –¥–µ–º–æ–Ω—Å—Ç—Ä–∏—Ä—É—é—Ç –≤—ã—Å–æ–∫—É—é –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –≤ —Ä–∞–∑–ª–∏—á–Ω—ã—Ö –∑–∞–¥–∞—á–∞—Ö –æ–±—Ä–∞–±–æ—Ç–∫–∏ –µ—Å—Ç–µ—Å—Ç–≤–µ–Ω–Ω–æ–≥–æ —è–∑—ã–∫–∞, –≤–∫–ª—é—á–∞—è –ø–æ–Ω–∏–º–∞–Ω–∏–µ –∫–æ–Ω—Ç–µ–∫—Å—Ç–∞, –≥–µ–Ω–µ—Ä–∞—Ü–∏—é —Ç–µ–∫—Å—Ç–∞ –∏ —Ä–µ—à–µ–Ω–∏–µ —Å–ª–æ–∂–Ω—ã—Ö –∑–∞–¥–∞—á. –ö–æ–º–ø–∞–Ω–∏—è —Ç–∞–∫–∂–µ —É–¥–µ–ª—è–µ—Ç –≤–Ω–∏–º–∞–Ω–∏–µ –±–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç–∏ –∏ —ç—Ç–∏—á–µ—Å–∫–∏–º –∞—Å–ø–µ–∫—Ç–∞–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –ò–ò, —á—Ç–æ –¥–µ–ª–∞–µ—Ç –∏—Ö —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–∏ –±–æ–ª–µ–µ –Ω–∞–¥–µ–∂–Ω—ã–º–∏ –∏ –ø—Ä–∏–µ–º–ª–µ–º—ã–º–∏ –¥–ª—è —à–∏—Ä–æ–∫–æ–≥–æ –∫—Ä—É–≥–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.

### 1.1 Creating tools

In [6]:
db = SQLDatabase.from_uri("sqlite:///db/salaries.db")

@tool("list_tables")
def list_tables() -> str:
    """List the available tables in the database"""
    return ListSQLDatabaseTool(db=db).invoke("")

@tool("tables_schema")
def tables_schema(tables: str) -> str:
    """
    Input is a comma-separated list of tables, output is the schema and sample rows
    for those tables. Be sure that the tables actually exist by calling `list_tables` first!
    Example Input: table1, table2, table3
    """
    return InfoSQLDatabaseTool(db=db).invoke(tables)

@tool("execute_sql")
def execute_sql(sql_query: str) -> str:
    """Execute a SQL query against the database. Returns the result"""
    return QuerySQLDataBaseTool(db=db).invoke(sql_query)

@tool("check_sql")
def check_sql(sql_query: str) -> str:
    """
    Use this tool to double check if your query is correct before executing it. Always use this
    tool before executing a query with `execute_sql`.
    """
    return QuerySQLCheckerTool(db=db, llm=llm).invoke({"query": sql_query})

In [ ]:

list_tables.run()

In [ ]:
print(tables_schema.run("salaries"))

In [ ]:
execute_sql.run("SELECT * FROM salaries WHERE salary > 10000 LIMIT 5")

In [ ]:
check_sql.run("SELECT * WHERE salary > 10000 LIMIT 5 table = salaries")

## 2. Agents

In [7]:
sql_dev = Agent(
    role="Senior Database Developer",
    goal="Construct and execute SQL queries based on a request",
    backstory=dedent(
        """
        You are an experienced database engineer who is master at creating efficient and complex SQL queries.
        You have a deep understanding of how different databases work and how to optimize queries.
        Use the `list_tables` to find available tables.
        Use the `tables_schema` to understand the metadata for the tables.
        Use the `execute_sql` to check your queries for correctness.
        Use the `check_sql` to execute queries against the database.
    """
    ),
    llm=llm,
    tools=[list_tables, tables_schema, execute_sql, check_sql],
    allow_delegation=False,
    verbose=True
)

data_analyst = Agent(
    role="Senior Data Analyst",
    goal="You receive data from the database developer and analyze it",
    backstory=dedent(
        """
        You have deep experience with analyzing datasets using Python.
        Your work is always based on the provided data and is clear,
        easy-to-understand and to the point. You have attention
        to detail and always produce very detailed work (as long as you need).
    """
    ),
    llm=llm,
    allow_delegation=False,
)
   
report_writer = Agent(
    role="Senior Report Editor",
    goal="Write an executive summary type of report based on the work of the analyst",
    backstory=dedent(
        """
        Your writing still is well known for clear and effective communication.
        You always summarize long texts into bullet points that contain the most
        important details.
        """
    ),
    llm=llm,
    allow_delegation=False,
)

## 3. Tasks

In [8]:
extract_data = Task(
    description="Extract data that is required for the query {query}.",
    expected_output="Database result for the query",
    agent=sql_dev,
)

analyze_data = Task(
    description="Analyze the data from the database and write an analysis for {query}.",
    expected_output="Detailed analysis text",
    agent=data_analyst,
    context=[extract_data],
)

write_report = Task(
    description=dedent(
        """
        Write an executive summary of the report from the analysis. The report
        must be less than 100 words. Answer in Russian.
    """
    ),
    expected_output="Markdown report",
    agent=report_writer,
    context=[analyze_data],
)

## 4. Create Crew

In [9]:
crew = Crew(
    agents=[sql_dev, data_analyst, report_writer],
    tasks=[extract_data, analyze_data, write_report],
    process=Process.sequential,
    verbose=True,
    memory=False,)

In [10]:
inputs = {
    "query": "Effects on salary (in USD) based on company location, size and employee experience"
}

result = crew.kickoff(inputs=inputs)

2024-11-28 15:12:26,104 - 4544071168 - manager.py-manager:293 - WARNING: Error in StdOutCallbackHandler.on_chain_start callback: AttributeError("'NoneType' object has no attribute 'get'")

 [2024-11-28 15:12:26][DEBUG]: == Working Agent: Senior Database Developer
 [2024-11-28 15:12:26][INFO]: == Starting Task: Extract data that is required for the query Effects on salary (in USD) based on company location, size and employee experience.
I need to start by identifying the available tables in the database to understand what data I can work with for the query regarding the effects on salary based on company location, size, and employee experience.

Action: list_tables
Action Input: {}

salaries

Thought: There is only one table available, which is "salaries." I need to check the schema of this table to understand its structure and the relevant columns for the query regarding salary effects based on company location, size, and employee experience.

Action: tables_schema
Action Input: {"tables": "salaries"}


CREATE TABLE salaries (
	"index" INTEGER,
	work_year INTEGER,
	experience_level TEXT,
	employment_type TEXT,
	job_title TEXT,
	salary INTEGER,
	salary_currency TEXT,
	salary_in_usd INTEGER,
	employee_residence TEXT,
	remote_ratio INTEGER,
	company_location TEXT,
	company_size TEXT
)

/*
3 rows from salaries table:
index	work_year	experience_level	employment_type	job_title	salary	salary_currency	salary_in_usd	employee_residence	remote_ratio	company_location	company_size
0	2023	SE	FT	Principal Data Scientist	80000	EUR	85847	ES	100	ES	L
1	2023	MI	CT	ML Engineer	30000	USD	30000	US	100	US	S
2	2023	MI	CT	ML Engineer	25500	USD	25500	US	100	US	S
*/

Thought: I now have the schema of the "salaries" table, which includes columns for company location, size, and employee experience, as well as salary information. I can construct a SQL query to extract the required data based on these criteria.

The relevant columns for the query are:
- `salary_in_usd`: for the salary in USD
- `company_location`: for the location of the company
- `company_size`: for the size of the company
- `experience_level`: for the employee's experience level

I will write a SQL query to group the data by company location, company size, and experience level, and calculate the average salary in USD for each group.

Action: check_sql
Action Input: {"sql_query": "SELECT company_location, company_size, experience_level, AVG(salary_in_usd) AS average_salary FROM salaries GROUP BY company_location, company_size, experience_level ORDER BY company_location, company_size, experience_level;"}

```sql
SELECT company_location, company_size, experience_level, AVG(salary_in_usd) AS average_salary
FROM salaries
GROUP BY company_location, company_size, experience_level
ORDER BY company_location, company_size, experience_level;
```

Thought: I have constructed the SQL query to extract the average salary in USD based on company location, size, and employee experience. Now, I need to execute this query to get the actual results.

Action: execute_sql
Action Input: {"sql_query": "SELECT company_location, company_size, experience_level, AVG(salary_in_usd) AS average_salary FROM salaries GROUP BY company_location, company_size, experience_level ORDER BY company_location, company_size, experience_level;"}

[('AE', 'L', 'MI', 115000.0), ('AE', 'S', 'SE', 92500.0), ('AL', 'S', 'SE', 10000.0), ('AM', 'S', 'MI', 50000.0), ('AR', 'L', 'EN', 31000.0), ('AR', 'S', 'EN', 13000.0), ('AS', 'L', 'EN', 50000.0), ('AS', 'M', 'EN', 20000.0), ('AS', 'S', 'EN', 18053.0), ('AT', 'L', 'MI', 75141.66666666667), ('AT', 'M', 'EN', 50000.0), ('AT', 'M', 'MI', 61467.0), ('AT', 'S', 'SE', 91237.0), ('AU', 'L', 'EN', 56014.0), ('AU', 'L', 'MI', 71783.75), ('AU', 'L', 'SE', 152383.0), ('AU', 'M', 'EN', 54390.333333333336), ('AU', 'M', 'MI', 53368.0), ('AU', 'M', 'SE', 50000.0), ('AU', 'S', 'EN', 150000.0), ('BA', 'S', 'EN', 120000.0), ('BE', 'L', 'EN', 84053.0), ('BE', 'M', 'MI', 88654.0), ('BE', 'M', 'SE', 82744.0), ('BE', 'S', 'EN', 52008.0), ('BO', 'M', 'MI', 7500.0), ('BR', 'L', 'EN', 11197.0), ('BR', 'M', 'MI', 57698.77777777778), ('BR', 'M', 'SE', 21453.5), ('BR', 'S', 'MI', 12901.0), ('BS', 'M', 'MI', 45555.0), ('CA', 'L', 'EN', 83447.8), ('CA', 'L', 'EX', 159006.5), ('CA', 'L', 'MI', 98364.6), ('CA', 'L', 'SE', 120463.83333333333), ('CA', 'M', 'EN', 59500.0), ('CA', 'M', 'EX', 15000.0), ('CA', 'M', 'MI', 84802.33333333333), ('CA', 'M', 'SE', 152392.45283018867), ('CA', 'S', 'EX', 115222.0), ('CA', 'S', 'MI', 75000.0), ('CA', 'S', 'SE', 181369.0), ('CF', 'M', 'SE', 48609.0), ('CH', 'L', 'EN', 63487.5), ('CH', 'L', 'MI', 112549.5), ('CH', 'S', 'EN', 56536.0), ('CL', 'L', 'MI', 40038.0), ('CN', 'L', 'EN', 100000.0), ('CO', 'L', 'SE', 125000.0), ('CO', 'M', 'EN', 21844.0), ('CO', 'M', 'SE', 56500.0), ('CR', 'S', 'EN', 50000.0), ('CZ', 'L', 'MI', 69999.0), ('CZ', 'M', 'EN', 30469.0), ('CZ', 'M', 'MI', 5132.0), ('DE', 'L', 'EN', 80568.71428571429), ('DE', 'L', 'EX', 141846.0), ('DE', 'L', 'MI', 80497.6), ('DE', 'L', 'SE', 90249.25), ('DE', 'M', 'EN', 50436.5), ('DE', 'M', 'EX', 130026.0), ('DE', 'M', 'MI', 68544.0), ('DE', 'M', 'SE', 170163.55555555556), ('DE', 'S', 'EN', 51066.42857142857), ('DE', 'S', 'MI', 68600.33333333333), ('DE', 'S', 'SE', 96578.0), ('DK', 'L', 'EN', 19073.0), ('DK', 'L', 'SE', 88654.0), ('DK', 'S', 'EN', 37252.5), ('DZ', 'M', 'EN', 100000.0), ('EE', 'L', 'SE', 63312.0), ('EE', 'S', 'MI', 31520.0), ('EG', 'M', 'MI', 22800.0), ('ES', 'L', 'EN', 27317.0), ('ES', 'L', 'EX', 79833.0), ('ES', 'L', 'MI', 38228.0), ('ES', 'L', 'SE', 70423.5), ('ES', 'M', 'EN', 23713.75), ('ES', 'M', 'MI', 61223.41176470588), ('ES', 'M', 'SE', 59665.166666666664), ('ES', 'S', 'EX', 69741.0), ('ES', 'S', 'MI', 47282.0), ('FI', 'M', 'MI', 75020.0), ('FI', 'M', 'SE', 68318.0), ('FI', 'S', 'SE', 63040.0), ('FR', 'L', 'EN', 38284.0), ('FR', 'L', 'MI', 52299.333333333336), ('FR', 'L', 'SE', 87267.4), ('FR', 'M', 'EN', 51172.0), ('FR', 'M', 'MI', 69988.375), ('FR', 'M', 'SE', 89845.6), ('FR', 'S', 'EN', 51321.0), ('FR', 'S', 'MI', 52590.666666666664), ('FR', 'S', 'SE', 53654.0), ('GB', 'L', 'EN', 56049.0), ('GB', 'L', 'MI', 89857.77777777778), ('GB', 'L', 'SE', 95091.0), ('GB', 'M', 'EN', 63861.333333333336), ('GB', 'M', 'EX', 143877.5), ('GB', 'M', 'MI', 83154.95238095238), ('GB', 'M', 'SE', 102207.45161290323), ('GB', 'S', 'EN', 55410.0), ('GB', 'S', 'MI', 68182.0), ('GB', 'S', 'SE', 123510.0), ('GH', 'S', 'EN', 7000.0), ('GH', 'S', 'MI', 30000.0), ('GR', 'L', 'EN', 12877.0), ('GR', 'L', 'SE', 47899.0), ('GR', 'M', 'MI', 58574.454545454544), ('GR', 'S', 'MI', 20000.0), ('HK', 'L', 'MI', 65062.0), ('HN', 'S', 'MI', 20000.0), ('HR', 'M', 'MI', 91142.5), ('HR', 'S', 'SE', 45618.0), ('HU', 'L', 'MI', 35735.0), ('HU', 'M', 'EN', 17684.0), ('ID', 'L', 'EN', 15000.0), ('ID', 'L', 'MI', 53416.0), ('IE', 'L', 'SE', 172309.0), ('IE', 'M', 'MI', 88529.5), ('IE', 'M', 'SE', 128981.0), ('IE', 'S', 'SE', 68293.0), ('IL', 'L', 'SE', 423834.0), ('IL', 'M', 'MI', 119059.0), ('IN', 'L', 'EN', 39371.333333333336), ('IN', 'L', 'EX', 76309.0), ('IN', 'L', 'MI', 23267.235294117647), ('IN', 'L', 'SE', 58774.875), ('IN', 'M', 'EN', 18332.625), ('IN', 'M', 'MI', 18229.75), ('IN', 'S', 'EN', 12986.666666666666), ('IN', 'S', 'MI', 15654.0), ('IN', 'S', 'SE', 15806.0), ('IQ', 'S', 'EN', 100000.0), ('IR', 'M', 'EN', 100000.0), ('IT', 'L', 'MI', 51064.0), ('IT', 'L', 'SE', 68293.0), ('IT', 'M', 'EN', 24165.0), ('IT', 'S', 'EN', 21669.0), ('JP', 'S', 'EN', 41689.0), ('JP', 'S', 'MI', 71691.66666666667), ('JP', 'S', 'SE', 214000.0), ('KE', 'S', 'EN', 9272.0), ('KE', 'S', 'MI', 80000.0), ('LT', 'M', 'MI', 94812.0), ('LU', 'L', 'EN', 59102.0), ('LU', 'M', 'EN', 10000.0), ('LU', 'S', 'MI', 62726.0), ('LV', 'M', 'SE', 57946.5), ('MA', 'S', 'EN', 10000.0), ('MD', 'S', 'MI', 18000.0), ('MK', 'S', 'EN', 6304.0), ('MT', 'L', 'MI', 28369.0), ('MX', 'L', 'MI', 30000.0), ('MX', 'L', 'SE', 60000.0), ('MX', 'M', 'MI', 66000.0), ('MX', 'M', 'SE', 170000.0), ('MX', 'S', 'MI', 36000.0), ('MX', 'S', 'SE', 33511.0), ('MY', 'L', 'EN', 40000.0), ('NG', 'L', 'EN', 65000.0), ('NG', 'L', 'MI', 50000.0), ('NG', 'S', 'EN', 10000.0), ('NG', 'S', 'SE', 200000.0), ('NL', 'L', 'EN', 50944.0), ('NL', 'L', 'EX', 84053.0), ('NL', 'L', 'MI', 71314.0), ('NL', 'L', 'SE', 97629.33333333333), ('NL', 'M', 'MI', 102439.5), ('NL', 'S', 'MI', 54634.0), ('NZ', 'S', 'SE', 125000.0), ('PH', 'S', 'SE', 50000.0), ('PK', 'L', 'MI', 8000.0), ('PK', 'M', 'EN', 30000.0), ('PK', 'M', 'MI', 12000.0), ('PL', 'L', 'EX', 153667.0), ('PL', 'L', 'MI', 36227.333333333336), ('PL', 'S', 'MI', 44365.0), ('PR', 'M', 'SE', 167500.0), ('PT', 'L', 'EN', 21013.0), ('PT', 'L', 'MI', 55685.0), ('PT', 'L', 'SE', 68405.66666666667), ('PT', 'M', 'EN', 22809.0), ('PT', 'M', 'MI', 50180.0), ('PT', 'M', 'SE', 53782.333333333336), ('PT', 'S', 'SE', 29944.0), ('RO', 'L', 'MI', 53654.0), ('RO', 'M', 'MI', 60000.0), ('RU', 'L', 'EX', 168000.0), ('RU', 'M', 'EX', 85000.0), ('SE', 'M', 'EN', 80000.0), ('SE', 'S', 'EN', 130000.0), ('SG', 'L', 'EN', 66970.0), ('SG', 'L', 'MI', 82157.0), ('SG', 'L', 'SE', 8000.0), ('SG', 'M', 'MI', 41383.0), ('SI', 'L', 'MI', 24823.0), ('SI', 'L', 'SE', 102839.0), ('SI', 'M', 'MI', 61702.5), ('SK', 'S', 'SE', 12608.0), ('TH', 'L', 'EN', 15000.0), ('TH', 'L', 'MI', 24740.0), ('TH', 'M', 'SE', 29453.0), ('TR', 'L', 'SE', 20171.0), ('TR', 'M', 'MI', 18779.75), ('UA', 'L', 'EN', 13400.0), ('UA', 'M', 'SE', 84000.0), ('UA', 'S', 'SE', 50000.0), ('US', 'L', 'EN', 105386.73170731707), ('US', 'L', 'EX', 240000.0), ('US', 'L', 'MI', 126846.06666666667), ('US', 'L', 'SE', 175539.59493670886), ('US', 'M', 'EN', 104835.26016260163), ('US', 'M', 'EX', 204151.7888888889), ('US', 'M', 'MI', 129675.77541371158), ('US', 'M', 'SE', 157701.42453282225), ('US', 'S', 'EN', 80196.0), ('US', 'S', 'EX', 249000.0), ('US', 'S', 'MI', 76013.21428571429), ('US', 'S', 'SE', 122588.23529411765), ('VN', 'L', 'EN', 12000.0)]

Thought: I now know the final answer
Final Answer:
```
[
    ('AE', 'L', 'MI', 115000.0),
    ('AE', 'S', 'SE', 92500.0),
    ('AL', 'S', 'SE', 10000.0),
    ('AM', 'S', 'MI', 50000.0),
    ('AR', 'L', 'EN', 31000.0),
    ('AR', 'S', 'EN', 13000.0),
    ('AS', 'L', 'EN', 50000.0),
    ('AS', 'M', 'EN', 20000.0),
    ('AS', 'S', 'EN', 18053.0),
    ('AT', 'L', 'MI', 75141.66666666667),
    ('AT', 'M', 'EN', 50000.0),
    ('AT', 'M', 'MI', 61467.0),
    ('AT', 'S', 'SE', 91237.0),
    ('AU', 'L', 'EN', 56014.0),
    ('AU', 'L', 'MI', 71783.75),
    ('AU', 'L', 'SE', 152383.0),
    ('AU', 'M', 'EN', 54390.333333333336),
    ('AU', 'M', 'MI', 53368.0),
    ('AU', 'M', 'SE', 50000.0),
    ('AU', 'S', 'EN', 150000.0),
    ('BA', 'S', 'EN', 120000.0),
    ('BE', 'L', 'EN', 84053.0),
    ('BE', 'M', 'MI', 88654.0),
    ('BE', 'M', 'SE', 82744.0),
    ('BE', 'S', 'EN', 52008.0),
    ('BO', 'M', 'MI', 7500.0),
    ('BR', 'L', 'EN', 11197.0),
    ('BR', 'M', 'MI', 57698.77777777778),
    ('BR', 'M', 'SE', 21453.5),
    ('BR', 'S', 'MI', 12901.0),
    ('BS', 'M', 'MI', 45555.0),
    ('CA', 'L', 'EN', 83447.8),
    ('CA', 'L', 'EX', 159006.5),
    ('CA', 'L', 'MI', 98364.6),
    ('CA', 'L', 'SE', 120463.83333333333),
    ('CA', 'M', 'EN', 59500.0),
    ('CA', 'M', 'EX', 15000.0),
    ('CA', 'M', 'MI', 84802.33333333333),
    ('CA', 'M', 'SE', 152392.45283018867),
    ('CA', 'S', 'EX', 115222.0),
    ('CA', 'S', 'MI', 75000.0),
    ('CA', 'S', 'SE', 181369.0),
    ('CF', 'M', 'SE', 48609.0),
    ('CH', 'L', 'EN', 63487.5),
    ('CH', 'L', 'MI', 112549.5),
    ('CH', 'S', 'EN', 56536.0),
    ('CL', 'L', 'MI', 40038.0),
    ('CN', 'L', 'EN', 100000.0),
    ('CO', 'L', 'SE', 125000.0),
    ('CO', 'M', 'EN', 21844.0),
    ('CO', 'M', 'SE', 56500.0),
    ('CR', 'S', 'EN', 50000.0),
    ('CZ', 'L', 'MI', 69999.0),
    ('CZ', 'M', 'EN', 30469.0),
    ('CZ', 'M', 'MI', 5132.0),
    ('DE', 'L', 'EN', 80568.71428571429),
    ('DE', 'L', 'EX', 141846.0),
    ('DE', 'L', 'MI', 80497.6),
    ('DE', 'L', 'SE', 90249.25),
    ('DE', 'M', 'EN', 50436.5),
    ('DE', 'M', 'EX', 130026.0),
    ('DE', 'M', 'MI', 68544.0),
    ('DE', 'M', 'SE', 170163.55555555556),
    ('DE', 'S', 'EN', 51066.42857142857),
    ('DE', 'S', 'MI', 68600.33333333333),
    ('DE', 'S', 'SE', 96578.0),
    ('DK', 'L', 'EN', 19073.0),
    ('DK', 'L', 'SE', 88654.0),
    ('DK', 'S', 'EN', 37252.5),
    ('DZ', 'M', 'EN', 100000.0),
    ('EE', 'L', 'SE', 63312.0),
    ('EE', 'S', 'MI', 31520.0),
    ('EG', 'M', 'MI', 22800.0),
    ('ES', 'L', 'EN', 27317.0),
    ('ES', 'L', 'EX', 79833.0),
    ('ES', 'L', 'MI', 38228.0),
    ('ES', 'L', 'SE', 70423.5),
    ('ES', 'M', 'EN', 23713.75),
    ('ES', 'M', 'MI', 61223.41176470588),
    ('ES', 'M', 'SE', 59665.166666666664),
    ('ES', 'S', 'EX', 69741.0),
    ('ES', 'S', 'MI', 47282.0),
    ('FI', 'M', 'MI', 75020.0),
    ('FI', 'M', 'SE', 68318.0),
    ('FI', 'S', 'SE', 63040.0),
    ('FR', 'L', 'EN', 38284.0),
    ('FR', 'L', 'MI', 52299.333333333336),
    ('FR', 'L', 'SE', 87267.4),
    ('FR', 'M', 'EN', 51172.0),
    ('FR', 'M', 'MI', 69988.375),
    ('FR', 'M', 'SE', 89845.6),
    ('FR', 'S', 'EN', 51321.0),
    ('FR', 'S', 'MI', 52590.666666666664),
    ('FR', 'S', 'SE', 53654.0),
    ('GB', 'L', 'EN', 56049.0),
    ('GB', 'L', 'MI', 89857.77777777778),
    ('GB', 'L', 'SE', 95091.0),
    ('GB', 'M', 'EN', 63861.333333333336),
    ('GB', 'M', 'EX', 143877.5),
    ('GB', 'M', 'MI', 83154.95238095238),
    ('GB', 'M', 'SE', 102207.45161290323),
    ('GB', 'S', 'EN', 55410.0),
    ('GB', 'S', 'MI', 68182.0),
    ('GB', 'S', 'SE', 123510.0),
    ('GH', 'S', 'EN', 7000.0),
    ('GH', 'S', 'MI', 30000.0),
    ('GR', 'L', 'EN', 12877.0),
    ('GR', 'L', 'SE', 47899.0),
    ('GR', 'M', 'MI', 58574.454545454544),
    ('GR', 'S', 'MI', 20000.0),
    ('HK', 'L', 'MI', 65062.0),
    ('HN', 'S', 'MI', 20000.0),
    ('HR', 'M', 'MI', 91142.5),
    ('HR', 'S', 'SE', 45618.0),
    ('HU', 'L', 'MI', 35735.0),
    ('HU', 'M', 'EN', 17684.0),
    ('ID', 'L', 'EN', 15000.0),
    ('ID', 'L', 'MI', 53416.0),
    ('IE', 'L', 'SE', 172309.0),
    ('IE', 'M', 'MI', 88529.5),
    ('IE', 'M', 'SE', 128981.0),
    ('IE', 'S', 'SE', 68293.0),
    ('IL', 'L', 'SE', 423834.0),
    ('IL', 'M', 'MI', 119059.0),
    ('IN', 'L', 'EN', 39371.333333333336),
    ('IN', 'L', 'EX', 76309.0),
    ('IN', 'L', 'MI', 23267.235294117647),
    ('IN', 'L', 'SE', 58774.875),
    ('IN', 'M', 'EN', 18332.625),
    ('IN', 'M', 'MI', 18229.75),
    ('IN', 'S', 'EN', 12986.666666666666),
    ('IN', 'S', 'MI', 15654.0),
    ('IN', 'S', 'SE', 15806.0),
    ('IQ', 'S', 'EN', 100000.0),
    ('IR', 'M', 'EN', 100000.0),
    ('IT', 'L', 'MI', 51064.0),
    ('IT', 'L', 'SE', 68293.0),
    ('IT', 'M', 'EN', 24165.0),
    ('IT', 'S', 'EN', 21669.0),
    ('JP', 'S', 'EN', 41689.0),
    ('JP', 'S', 'MI', 71691.66666666667),
    ('JP', 'S', 'SE', 214000.0),
    ('KE', 'S', 'EN', 9272.0),
    ('KE', 'S', 'MI', 80000.0),
    ('LT', 'M', 'MI', 94812.0),
    ('LU', 'L', 'EN', 59102.0),
    ('LU', 'M', 'EN', 10000.0),
    ('LU', 'S', 'MI', 62726.0),
    ('LV', 'M', 'SE', 57946.5),
    ('MA', 'S', 'EN', 10000.0),
    ('MD', 'S', 'MI', 18000.0),
    ('MK', 'S', 'EN', 6304.0),
    ('MT', 'L', 'MI', 28369.0),
    ('MX', 'L', 'MI', 30000.0),
    ('MX', 'L', 'SE', 60000.0),
    ('MX', 'M', 'MI', 66000.0),
    ('MX', 'M', 'SE', 170000.0),
    ('MX', 'S', 'MI', 36000.0),
    ('MX', 'S', 'SE', 33511.0),
    ('MY', 'L', 'EN', 40000.0),
    ('NG', 'L', 'EN', 65000.0),
    ('NG', 'L', 'MI', 50000.0),
    ('NG', 'S', 'EN', 10000.0),
    ('NG', 'S', 'SE', 200000.0),
    ('NL', 'L', 'EN', 50944.0),
    ('NL', 'L', 'EX', 84053.0),
    ('NL', 'L', 'MI', 71314.0),
    ('NL', 'L', 'SE', 97629.33333333333),
    ('NL', 'M', 'MI', 102439.5),
    ('NL', 'S', 'MI', 54634.0),
    ('NZ', 'S', 'SE', 125000.0),
    ('PH', 'S', 'SE', 50000.0),
    ('PK', 'L', 'MI', 8000.0),
    ('PK', 'M', 'EN', 30000.0),
    ('PK', 'M', 'MI', 12000.0),
    ('PL', 'L', 'EX', 153667.0),
    ('PL', 'L', 'MI', 36227.333333333336),
    ('PL', 'S', 'MI', 44365.0),
    ('PR', 'M', 'SE', 167500.0),
    ('PT', 'L', 'EN', 21013.0),
    ('PT', 'L', 'MI', 55685.0),
    ('PT', 'L', 'SE', 68405.66666666667),
    ('PT', 'M', 'EN', 22809.0),
    ('PT', 'M', 'MI', 50180.0),
    ('PT', 'M', 'SE', 53782.333333333336),
    ('PT', 'S', 'SE', 29944.0),
    ('RO', 'L', 'MI', 53654.0),
    ('RO', 'M', 'MI', 60000.0),
    ('RU', 'L', 'EX', 168000.0),
    ('RU', 'M', 'EX', 85000.0),
    ('SE', 'M', 'EN', 80000.0),
    ('SE', 'S', 'EN', 130000.0),
    ('SG', 'L', 'EN', 66970.0),
    ('SG', 'L', 'MI', 82157.0),
    ('SG', 'L', 'SE', 8000.0),
    ('SG', 'M', 'MI', 41383.0),
    ('SI', 'L', 'MI', 24823.0),
    ('SI', 'L', 'SE', 102839.0),
    ('SI', 'M', 'MI', 61702.5),
    ('SK', 'S', 'SE', 12608.0),
    ('TH', 'L', 'EN', 15000.0),
    ('TH', 'L', 'MI', 24740.0),
    ('TH', 'M', 'SE', 29453.0),
    ('TR', 'L', 'SE', 20171.0),
    ('TR', 'M', 'MI', 18779.75),
    ('UA', 'L', 'EN', 13400.0),
    ('UA', 'M', 'SE', 84000.0),
    ('UA', 'S', 'SE', 50000.0),
    ('US', 'L', 'EN', 105386.73170731707),
    ('US', 'L', 'EX', 240000.0),
    ('US', 'L', 'MI', 126846.06666666667),
    ('US', 'L', 'SE', 175539.59493670886),
    ('US', 'M', 'EN', 104835.26016260163),
    ('US', 'M', 'EX', 204151.7888888889),
    ('US', 'M', 'MI', 129675.77541371158),
    ('US', 'M', 'SE', 157701.42453282225),
    ('US', 'S', 'EN', 80196.0),
    ('US', 'S', 'EX', 249000.0),
    ('US', 'S', 'MI', 76013.21428571429),
    ('US', 'S', 'SE', 122588.23529411765),
    ('VN', 'L', 'EN', 12000.0)
]
```

> Finished chain.
 [2024-11-28 15:13:34][DEBUG]: == [Senior Database Developer] Task output: ```
[
    ('AE', 'L', 'MI', 115000.0),
    ('AE', 'S', 'SE', 92500.0),
    ('AL', 'S', 'SE', 10000.0),
    ('AM', 'S', 'MI', 50000.0),
    ('AR', 'L', 'EN', 31000.0),
    ('AR', 'S', 'EN', 13000.0),
    ('AS', 'L', 'EN', 50000.0),
    ('AS', 'M', 'EN', 20000.0),
    ('AS', 'S', 'EN', 18053.0),
    ('AT', 'L', 'MI', 75141.66666666667),
    ('AT', 'M', 'EN', 50000.0),
    ('AT', 'M', 'MI', 61467.0),
    ('AT', 'S', 'SE', 91237.0),
    ('AU', 'L', 'EN', 56014.0),
    ('AU', 'L', 'MI', 71783.75),
    ('AU', 'L', 'SE', 152383.0),
    ('AU', 'M', 'EN', 54390.333333333336),
    ('AU', 'M', 'MI', 53368.0),
    ('AU', 'M', 'SE', 50000.0),
    ('AU', 'S', 'EN', 150000.0),
    ('BA', 'S', 'EN', 120000.0),
    ('BE', 'L', 'EN', 84053.0),
    ('BE', 'M', 'MI', 88654.0),
    ('BE', 'M', 'SE', 82744.0),
    ('BE', 'S', 'EN', 52008.0),
    ('BO', 'M', 'MI', 7500.0),
    ('BR', 'L', 'EN', 11197.0),
    ('BR', 'M', 'MI', 57698.77777777778),
    ('BR', 'M', 'SE', 21453.5),
    ('BR', 'S', 'MI', 12901.0),
    ('BS', 'M', 'MI', 45555.0),
    ('CA', 'L', 'EN', 83447.8),
    ('CA', 'L', 'EX', 159006.5),
    ('CA', 'L', 'MI', 98364.6),
    ('CA', 'L', 'SE', 120463.83333333333),
    ('CA', 'M', 'EN', 59500.0),
    ('CA', 'M', 'EX', 15000.0),
    ('CA', 'M', 'MI', 84802.33333333333),
    ('CA', 'M', 'SE', 152392.45283018867),
    ('CA', 'S', 'EX', 115222.0),
    ('CA', 'S', 'MI', 75000.0),
    ('CA', 'S', 'SE', 181369.0),
    ('CF', 'M', 'SE', 48609.0),
    ('CH', 'L', 'EN', 63487.5),
    ('CH', 'L', 'MI', 112549.5),
    ('CH', 'S', 'EN', 56536.0),
    ('CL', 'L', 'MI', 40038.0),
    ('CN', 'L', 'EN', 100000.0),
    ('CO', 'L', 'SE', 125000.0),
    ('CO', 'M', 'EN', 21844.0),
    ('CO', 'M', 'SE', 56500.0),
    ('CR', 'S', 'EN', 50000.0),
    ('CZ', 'L', 'MI', 69999.0),
    ('CZ', 'M', 'EN', 30469.0),
    ('CZ', 'M', 'MI', 5132.0),
    ('DE', 'L', 'EN', 80568.71428571429),
    ('DE', 'L', 'EX', 141846.0),
    ('DE', 'L', 'MI', 80497.6),
    ('DE', 'L', 'SE', 90249.25),
    ('DE', 'M', 'EN', 50436.5),
    ('DE', 'M', 'EX', 130026.0),
    ('DE', 'M', 'MI', 68544.0),
    ('DE', 'M', 'SE', 170163.55555555556),
    ('DE', 'S', 'EN', 51066.42857142857),
    ('DE', 'S', 'MI', 68600.33333333333),
    ('DE', 'S', 'SE', 96578.0),
    ('DK', 'L', 'EN', 19073.0),
    ('DK', 'L', 'SE', 88654.0),
    ('DK', 'S', 'EN', 37252.5),
    ('DZ', 'M', 'EN', 100000.0),
    ('EE', 'L', 'SE', 63312.0),
    ('EE', 'S', 'MI', 31520.0),
    ('EG', 'M', 'MI', 22800.0),
    ('ES', 'L', 'EN', 27317.0),
    ('ES', 'L', 'EX', 79833.0),
    ('ES', 'L', 'MI', 38228.0),
    ('ES', 'L', 'SE', 70423.5),
    ('ES', 'M', 'EN', 23713.75),

In [11]:
print(result)

### –ò—Å–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ —Ä–µ–∑—é–º–µ –∞–Ω–∞–ª–∏–∑–∞ –≤–ª–∏—è–Ω–∏—è –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏—è –∫–æ–º–ø–∞–Ω–∏–∏, —Ä–∞–∑–º–µ—Ä–∞ –∏ –æ–ø—ã—Ç–∞ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ –Ω–∞ –∑–∞—Ä–ø–ª–∞—Ç—ã

- **–î–∞–Ω–Ω—ã–µ**: –ê–Ω–∞–ª–∏–∑ –∑–∞—Ä–ø–ª–∞—Ç –ø–æ —Å—Ç—Ä–∞–Ω–∞–º, —Ä–∞–∑–º–µ—Ä–∞–º –∫–æ–º–ø–∞–Ω–∏–π –∏ —É—Ä–æ–≤–Ω—è–º –æ–ø—ã—Ç–∞ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤.
- **–†–∞–∑–º–µ—Ä –∫–æ–º–ø–∞–Ω–∏–∏**:
  - –ë–æ–ª—å—à–∏–µ: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ $83,000.
  - –°—Ä–µ–¥–Ω–∏–µ: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ $54,000.
  - –ú–∞–ª—ã–µ: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ $43,000.
- **–£—Ä–æ–≤–µ–Ω—å –æ–ø—ã—Ç–∞**:
  - –ù–∞—á–∞–ª—å–Ω—ã–π: $45,000.
  - –°—Ä–µ–¥–Ω–∏–π: $55,000.
  - –°—Ç–∞—Ä—à–∏–π: $70,000.
  - –ò—Å–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π: $150,000.
- **–ö–ª—é—á–µ–≤—ã–µ —Å—Ç—Ä–∞–Ω—ã**: –°–®–ê, –ì–µ—Ä–º–∞–Ω–∏—è, –ê–≤—Å—Ç—Ä–∞–ª–∏—è, –ò–Ω–¥–∏—è.
- **–í—ã–≤–æ–¥—ã**: –ó–∞—Ä–ø–ª–∞—Ç—ã –∑–∞–≤–∏—Å—è—Ç –æ—Ç —Ä–∞–∑–º–µ—Ä–∞ –∫–æ–º–ø–∞–Ω–∏–∏, —É—Ä–æ–≤–Ω—è –æ–ø—ã—Ç–∞ –∏ –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è.